/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
/*-------------
 banner style
--------------- */

.full-banner {
    display: flex;
    justify-content: center;
   
}
.banners{
    width: 100%;
    height: 100%;
    background-color: lightcyan;
    border-radius: 20px;
    display: flex;
    margin-top: 50px;
}

.banner {
    width: 50%;
    margin-top: 30px;
    margin-left: 50px;
}

.banner-image {
    width: 50%;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 40px;
}
.banner-image img{
    height: 100%;
    width: 100%;
}

.banner-title {
    color: black;
    font-weight: 600px;
    font-size: 70px;
    
}

.banner-text {
    color: black;
}
.button{
    background-color: red;
    padding: 15px 25px;
    border-radius: 10px;
    border: 0px;
    color: white;
    margin-bottom: 40px;
    width: 180px;
    transition: width 2s;
}
.button:hover{
    background-color: goldenrod;
    width: 200px;
}
.fa-greater-than{
    margin-left: 10px;
}

/* match summary */
.container{
    display: flex;
    margin-top: 60px;
    width: 100%;
}
/* -----------------
side menu style
-------------------- */
.side-menu{
    background-color: lightgreen;
    border-radius: 10px;
    height: 250px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.anchor:focus{
    background-color: red;
}
.anchor:active{
    background-color: red;
}
.anchor{
    background-color: white;
    border-radius: 5px;
    padding: 10px 30px;
    margin-bottom: 20px;
    width: 150px;
}

#blog-color{
    color: white;
    background-color: red;
}
/*------------------
 player card style
--------------------- */
.match-summary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-left: 20px;
}
.all-blog{
    border: 1px solid gray;
    border-radius: 12px;
    width: auto;
    height:400px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.all-blog .player-image img{
    width: 100%;
}
.blog-title{
    padding: 15px 20px;
}
.transfer{
    padding: 5px 10px;
}
.icon{
    margin-left: 30px;
}

/* match schedule style */
.match-schedule{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.flag{
    border: 1px solid gray;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-bottom: 40px;
    
}
.flag-align{
    display: flex;
    align-items: center;
}
#vs-gap{
    margin: 0px 10px;
}
.view-button{
    display: none;
}

/* -------------
footer style 
----------------*/
.footer{
    background-color: lightblue;
    height: 400px;
    width: 100%;
}
.goal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.goal h1{
    margin: 50px 0px;
}
.goal-text{
    color: black;
}
.secure-part{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.secure-part p{
    color: black;
}

/* -------------------
match schedule style
----------------------- */
.match{
    border: 1px solid gray;
    height: 250px;
    width: 250px;
}
/*-------------------
 social icon style
--------------------- */
.social-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icon i{
    margin: 40px 20px;
}


/*-------------------------------------------
media queries responsive style for mobile view
--------------------------------------------- */
@media only screen and (max-width: 688px){
    .banners{
        display: flex;
        flex-direction: column;
        
    }
    .banner-title{
        font-weight: 400px;
        font-size: 30px;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .side-menu{
        background-color: white;
       
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .anchor{
        background-color: white;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 10px 40px;
        margin-bottom: 20px;
    }
    .match-summary{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .all-blog{
        width: auto;
    }
    .match-schedule{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .footer{
        height: 100%;
    }
    .secure-part{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

/*---------------------------------------------
media quieries responsive style for tablet view
--------------------------------------------- */
@media only screen and (min-width: 688px) and (max-width: 992px){
    .button:hover{
        background-color: goldenrod;
        width: 200px;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .side-menu{
        background-color: white;
    }
    .menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
    }
    .anchor{
        border: 1px solid gray;
        border-radius: 10px;
        padding: 10px 40px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .match-summary{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .match-schedule{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .view-button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px 0px;
    }
    .view-button button{
        padding: 10px 20px;
        background-color: red;
        color: white;
        font-size: 20px;
        border: 0px;
        border-radius: 10px;
    }
}
/*--------------------------------- 
 media queries responsive style end
----------------------------------- */
